extends layout
block content
  .container
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center
            | 
            strong Qui sommes-nous ?
          hr
          p.text-center
            | Garde Bou'teille est né d'un constat simple : à Paris (ou dans n'importe quelle grande ville) il est difficile de stocker ses bouteilles de vin dans de bonnes conditions de conservations.
          p.text-center
            | Pourquoi ne pas proposer aux gens voulant stocker leurs vins dans de bonnes caves, de les mettre en contact avec d'autres particuliers qui eux peuvent stocker leurs bouteilles.
          p.text-center
            | Nous réalisons ce projet, dans le cadre du module NodeJS de notre formation de dernière année d'école d'ingénieur.
