div#footer
  ul
    li
      a(href='/') Home
    li
      a(href='/') Our Wines
    li
      a(href='/') About
    li 	
      a(href='/') Contact
  p
    p &copy; 
      a(href="") Paredes Winery 2032. All Rights Reserved.
