doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='stylesheets/style.css')
		title Garde Bou'teille
	body
		div#background
			div#page
				div#sidebar
					a.logo(href='/') 
						img
					ul
						li.selected
							span
								a(href='/') Home
						li
							span
								a(href='/') Our Wines
						li
							span
								a(href='/') About
						li 	
							span
								a(href='/') Contact
					div.contact
						ul
							li.address
								span Address
								ul
									li 30 - 32 Avenue de la République
								
									li Villejuif

									li France
							li.contactInfo
								span Info
								ul
									li Jenny 867-5309
							li.mail
								span e-mail
								ul
									li
										a(href='/') louis.pouillot@efrei.net
					div.connect
						b Follow Us
						p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id.
						ul
							li#facebook
								a(href='/') Facebook
							li#twitter
								a(href='/') Twitter
							li#googleplus
								a(href='/') Googleplus
							li#connectmail
								a(href='/') Email
					div.newsletter
						b Login
							p
								a(href='/') Accéder à votre cave
				div#content
					div#header
						img(src="images/grapes.jpg")
						div
							i Lorem ipsum dolor sit amet
								a.more En savoir plus
							img(src="images/wine-bottles.png")
					div#body
						div.header
							div
								img(src="images/red-wine.jpg")
								div
									b Lorem ipsum
									p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id
									a.more(href="/") En savoir plus
							div
								img(src="images/lady.jpg")
								i Lorem ipsum dolor sit amet.
									a.more(href="/") En savoir plus
						div.body
							ul
								li
									a.figure(href="/")
										img(src="images/our-wines.png")
									h3 Nos Vins
									p Pellentesque a placerat dui. Suspendisse laoreet placerat turpis vel semper.
									a.more(href="/") En savoir plus
								li
									a.figure(href="/")
										img(src="images/history.png")
									h3 Historique
									p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									a.more(href="/") En savoir plus
								li
									a.figure(href="/")
										img(src="images/about.png")
									h3 About
									p Vivamus at lectus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									a.more(href="/") En savoir plus
						div.footer
							div.featured
								h2 La Teille du Jour
								a(href="/")
									img(src="images/featured-wine.png")
							div.article
								h2 Derniers Posts
								ul
									li
										img(src="images/man.png")
										div
											h3 
												a(href="/") Lorem Ipsum nec elementum qam.
											small 22 Décembre 2016
											p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id. Phasellus nec elementum quam. Vivamus at lectus purus.
											a(href="/") En savoir plus
									li
										a(href='#{sess.login}') Message
									if sess.type == "Caviste"
										li
											a(href='compte/#{sess.login}/macave') Ma cave
									else
										li
											a(href='compte/#{sess.login}/mesvins') Mes vins

										img(src="images/wine-ingredient.png")
										div
											h3 
												a(href="/") Lorem Ipsum nec elementum qam.
											small 22 Décembre 2016
											p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id. Phasellus nec elementum quam. Vivamus at lectus purus.
											a(href="/") En savoir plus
					div#footer
						ul
							li
								a(href='/') Home
							li
								a(href='/') Our Wines
							li
								a(href='/') About
							li 	
								a(href='/') Contact
						p
							p &copy; 
								a(href="") Paredes Winery 2032. All Rights Reserved.
