extends layout
block content
  .container
    .row
      .box
        .col-lg-12.text-center
          h2.brand-before
            small Bienvenue sur
          h1.brand-name Garde Bou'teille
          hr.tagline-divider
          h2
            small
              | 
              strong Le Site de Réservation de Cave
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center
            | 
            strong  Réservez votre cave  en quelques clics
          hr
          img.img-responsive.img-border.img-left(src='images/intro-pic.jpg', alt='', style="width=50%; height: 200px;")
          hr.visible-xs
          p
            | Vous habitez dans Paris et vous ne n'avez pas d'autres endroits que votre réfrigérateur pour stocker vos bouteilles à vins préférées ?
          p
            | Rejoignez la communauté des Oenophiles  
            a(href='inscription') ici
            |  afin de rejoindre notre groupe d'amateurs de vins et de pouvoir consulter et reservez en ligne et en quelques secondes un emplacement dans une cave proche de chez vous.
          p
            | Choississez la cave de vos rêves, en comparant les différents critères afin de stocker au mieux votre bouteille.
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center
            | 
            strong  Ou offrez un emplacement de votre cave à vin
          hr
          p.text-center
            | Vous avez un emplacement ou une cave dans Paris avec des places vacantes ?
          p.text-center
            | Rejoignez la communauté des Cavistes 
            a(href="inscription")  ici
            |  et proposer des emplacements aux particuliers pour leurs bouteilles.
  // /.container
