extends layout
block content

	div#header
		img(src="images/grapes.jpg")
		div
			i Lorem ipsum dolor sit amet
				a.more En savoir plus
			img(src="images/wine-bottles.png")
	div#body
					div.header
						div
							img(src="images/red-wine.jpg")
							div
								b Lorem ipsum
								p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id
								a.more(href="/") En savoir plus
						div
							img(src="images/lady.jpg")
							i Lorem ipsum dolor sit amet.
								a.more(href="/") En savoir plus
					div.body
						ul
							li
								a.figure(href="/")
									img(src="images/our-wines.png")
								h3 Nos Vins
								p Pellentesque a placerat dui. Suspendisse laoreet placerat turpis vel semper.
								a.more(href="/") En savoir plus
							li
								a.figure(href="/")
									img(src="images/history.png")
								h3 Historique
								p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								a.more(href="/") En savoir plus
							li
								a.figure(href="/")
									img(src="images/about.png")
								h3 About
								p Vivamus at lectus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								a.more(href="/") En savoir plus
					div.footer
						div.featured
							h2 La Teille du Jour
							a(href="/")
								img(src="images/featured-wine.png")
						div.article
							h2 Derniers Posts
							ul
								li
									img(src="images/man.png")
									div
										h3 
											a(href="/") Lorem Ipsum nec elementum qam.
										small 22 Décembre 2016
										p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id. Phasellus nec elementum quam. Vivamus at lectus purus.
										a(href="/") En savoir plus
								li
									a(href='#{sess.login}') Message
								if sess.type == "Caviste"
									li
										a(href='compte/#{sess.login}/macave') Ma cave
								else
									li
										a(href='compte/#{sess.login}/mesvins') Mes vins

									img(src="images/wine-ingredient.png")
									div
										h3 
											a(href="/") Lorem Ipsum nec elementum qam.
										small 22 Décembre 2016
										p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id. Phasellus nec elementum quam. Vivamus at lectus purus.
										a(href="/") En savoir plus
