doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    div#background
      div#page
        include menu
        div#content
          block content
          include footer
