div#sidebar
  a.logo(href='/') 
    img
  ul
    li.selected
      span
        a(href='/') Home
    li
      span
        a(href='/') Our Wines
    li
      span
        a(href='/') About
    li 	
      span
        a(href='/') Contact
  div.contact
    ul
      li.address
        span Address
        ul
          li 30 - 32 Avenue de la République
        
          li Villejuif

          li France
      li.contactInfo
        span Info
        ul
          li Jenny 867-5309
      li.mail
        span e-mail
        ul
          li
            a(href='/') louis.pouillot@efrei.net
  div.connect
    b Follow Us
    p In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id.
    ul
      li#facebook
        a(href='/') Facebook
      li#twitter
        a(href='/') Twitter
      li#googleplus
        a(href='/') Googleplus
      li#connectmail
        a(href='/') Email
  div.newsletter
    b Login
      p
        a(href='/') Accéder à votre cave
