.brand Garde Bou'teille
.address-bar 30-32 Avenue de la République | Villejuif 75005 | 867-5309
// Navigation
nav.navbar.navbar-default(role='navigation')
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // navbar-brand is hidden on larger screens, but visible when the menu is collapsed
      a.navbar-brand(href='index.html') Garde Bou'teille
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='about') About
        li
          a(href='connexion') Login
        li
          a(href='inscription') Inscription
        li
          a(href='contact') Contact
    // /.navbar-collapse