extends layout
block content
	.container.text-center
		.box
			.row
				.col-lg-12
					hr 
					h3(style="text-align : center;") Mes Caves
					hr
					each val in data
							Label 
								a(href='mescaves/' + val.ID) #{val.Formatted_address}
							p	Capacité: #{val.Capacite} bouteilles
							br
								

					button.btn.btn-default(type='button', onclick="location.href = 'addcave';") Ajouter une cave
