extends layout
block content
		.container-fluid
			.box
				.row
					.col-lg-12
						hr
						h3(style="text-align: center;") Mes Bouteilles
						hr
						if data != ""
							each val in data
								p 
									a(href="/compte/#{sess.login}/mesvins/#{val.ID}") Bouteille : #{val.Bouteille}
						else 
							p Pas de bouteilles stockées
						button.btn.btn-default(type='button', onclick="location.href = 'addvins';") Ajouter une cave